<mat-card id="container">
  <mat-card-content id="listSwitch">
    <mat-button-toggle-group #group="matButtonToggleGroup"
                             [value]="inFloorMode"
                             (change)="onListFloorSwitch(group.value)">

      <mat-button-toggle value=false>
        <mat-icon>list</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value=true>
        <mat-icon>dashboard</mat-icon>
      </mat-button-toggle>

    </mat-button-toggle-group>
  </mat-card-content>

  <mat-card-content id="iconVisibility">
      <span>
        <mat-button-toggle value="Naam">Naam</mat-button-toggle>
        <mat-button-toggle value="Type">Type</mat-button-toggle>
        <mat-button-toggle value="Bezet">Bezet</mat-button-toggle>
        <mat-button-toggle value="Drukte">Drukte</mat-button-toggle>
        <mat-button-toggle value="Beamer">Beamer</mat-button-toggle>
        <mat-button-toggle value="Capaciteit">Capaciteit</mat-button-toggle>
      </span>
  </mat-card-content>

  <mat-card-content id="floor">
    <app-floor [floorLevel]="floorLevel"
               [rooms]="rooms"></app-floor>
    <b *ngIf="error">(floorcontainer-component) ERROR: {{error}}</b>
    <b *ngIf="!floor">NO FLOOR FOUND</b>
  </mat-card-content>
</mat-card>


