#floorContainerContainer {;
  border: 6px cornflowerblue solid;
}

#floor {
  border: 6px palevioletred solid;
}

#floorControls{
  margin-top: 1rem;
  grid-area: controlArea;


  #iconVisibility {
    display: flex;
    justify-content: left;

    span {
      mat-button-toggle {
        margin-right: 0.5rem;
      }
    }
  }


  #listSwitch{
    display: flex;
    justify-content: right;

  }

}


