
#floorControls {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: space-between;
  #iconVisibility {
    mat-button-toggle {
      margin-right: 0.2rem;
    }
  }
}

#floor {
  h2{
    color: lightgray;
  }
}

.floorRelative{
  position: relative;
  width: 96%;
  margin-left: -100000;
  margin-right: -100000;
  height: 700px;
}
