<!--navbar-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--home button-->
    <button mat-button routerLink="/home">{{title}}</button>

    <!--floor.key fetches key from [object]-->
    <button mat-button *ngFor="let floor of floors | keyvalue"
            routerLink="/floor/{{floor.key}}"
            (click)="switchFloors(floor)">Verdieping {{floor.key}}</button>
  </mat-toolbar-row>

  <nav *ngIf="!currentUser">
    <a routerLink="/login">Login</a>
  </nav>
</mat-toolbar>

<!--content-->
<div id="application">
  <router-outlet></router-outlet>
</div>
