@media (min-width: 540px) {
  mat-toolbar {
    grid-area: top;
  }

  .fill-space {
    // This fills the remaining space, by using flexbox.
    // Every toolbar row uses a flexbox row layout.
    flex: 1 1 auto;
  }

  #application {
    grid-area: middle;
  }
}
