<div id="roomContainer" [ngStyle]="{'backgroundColor': roomColor}">

  <!--default info-->
  <span class="roomInfo">{{room['name']}}</span>
  <mat-icon>{{room['type']}}</mat-icon>

  <!--non default-->
  <span class="roomInfo" *ngIf="room['beamer']"><mat-icon>camera</mat-icon></span>

  <span class="roomInfo" *ngIf="room['capaciteit']">
    <mat-icon matBadge="{{room['capaciteit']}}" matBadgeSize="medium" matBadgePosition="above after">person</mat-icon>
  </span>


  <!--edit-->
  <span>
    <button mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>

    <button (click)="selectRoom()" mat-icon-button>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </span>

  <div id="extraUI" *ngIf="isThisRoomSelected">

    <!--slider module-->
    <span *ngIf="hasSlider()">
      <mat-slider [step]="1"
                  [min]="0"
                  [max]="room['capaciteit']"
                  [(ngModel)]="room['drukte']"
                  (change)="getColor()">
      </mat-slider>
    </span>

    <!--booking module-->
    <span *ngIf="isBookable()">
      <mat-button-toggle-group #group="matButtonToggleGroup"
                               [disabled]="room['bezet']"
                               [value]="'1'"
                               (change)="onBookingChange(group.value)">
        <mat-button-toggle value="1">1</mat-button-toggle>
        <mat-button-toggle value="2">2</mat-button-toggle>
        <mat-button-toggle value="3">3</mat-button-toggle>
      </mat-button-toggle-group>
     <span>

       <button (click)="bookRoom()"
               [disabled]="room['bezet']"
               mat-raised-button>Reserveer voor {{amountOfHoursBooked}} uur</button>
     </span>
    </span>
  </div>


  <div *ngIf="isThisRoomSelected">this room has been selected</div>
</div>

