.material-icons {
  font-size: 30px;
}

mat-icon {
  margin-left: 0.5rem
}

mat-slider {
  margin-left: 0.5rem
}

#room {
  border: lightslategray 1px solid;
  padding: 15px;
  margin-bottom:  15px;

  #bookingModule {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #slider {
    display: flex;
    justify-content: center;
  }
}

//use ng class to switch between relative parent + absolute child
.roomContainerRelative {
  position: relative;
  width: 1px;
  height: 1px;
}

.roomContainerNone {
}

.roomRelative {
  position: absolute;
}

.roomNone {
}









