.material-icons {
  font-size: 30px;
}

mat-icon {
  margin-left: 0.5rem
}

mat-slider {
  margin-left: 0.5rem
}


.roomContainerRelative {
  position: relative;
}

.roomContainerNone {
  border: red 4px solid;
}

//use ng class to switch between relative parent + absolute child

.roomRelative{
  position: absolute;
}


.roomNone{
}

#room {
  border: lightslategray 2px solid;
  padding: 15px;

  #bookingModule {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #slider {
    display: flex;
    justify-content: center;
  }
}









