<div id="roomContainer" [ngStyle]="{'backgroundColor': roomColor}">

  <!--default info-->
  <span class="roomInfo" *ngIf="iconStatus['naam']">{{room['name']}}</span>
  <span class="roomInfo" *ngIf="iconStatus['type']"><mat-icon>{{room['type']}}</mat-icon></span>

  <!--non default-->
  <span class="roomInfo" *ngIf="room['beamer'] && iconStatus['beamer']"><mat-icon>camera</mat-icon></span>

  <span class="roomInfo" *ngIf="room['capaciteit'] && iconStatus['capaciteit']">
    <mat-icon matBadge="{{room['capaciteit']}}" matBadgeSize="medium" matBadgePosition="above after">person</mat-icon>
  </span>


  <!--edit-->
  <span style="float: right;">
    <button (click)="showDetail()" mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>

    <button (click)="selectRoom()" mat-icon-button>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </span>

  <div id="extraUI" *ngIf="isThisRoomSelected">
    <!--slider module-->
    <span *ngIf="hasSlider() && iconStatus['drukte']">
      <span>Drukte: </span>
      <mat-slider [step]="1"
                  [min]="0"
                  [max]="room['capaciteit']"
                  [(ngModel)]="room['drukte']"
                  (change)="getColor(room['drukte'],room['capaciteit'])">
      </mat-slider>
      <span>{{room['drukte']}}</span>
    </span>

    <!--booking module-->
    <span id="bookingModule" *ngIf="isBookable() && iconStatus['bezet']">
      <mat-button-toggle-group #group="matButtonToggleGroup"
                               [disabled]="room['bezet']"
                               [value]="'1'"
                               (change)="onBookingChange(group.value)">
        <mat-button-toggle value="1">1</mat-button-toggle>
        <mat-button-toggle value="2">2</mat-button-toggle>
        <mat-button-toggle value="3">3</mat-button-toggle>
      </mat-button-toggle-group>
      <button (click)="bookRoom()"
              [disabled]="room['bezet']"
              mat-raised-button>
        Reserveer voor {{amountOfHoursBooked}} uur</button>
    </span>
  </div>

  <div *ngIf="isThisRoomSelected">this room has been selected</div>
</div>

