.material-icons {
  font-size: 30px;
}

mat-icon {
  margin-left: 0.5rem
}

mat-slider {
  margin-left: 0.5rem
}


#room {
  border: lightslategray 2px solid;
  padding: 45px;

  #bookingModule {
    display: inline-block;
  }
}









